@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
:root {
  --bs-body-bg: #1b1a1a;
  --bs-body-font-family: "Roboto Mono";
  --bs-body-color: #e4e4e4;
}

// $background: #6ba2d5;

.button-like {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: rgba(20, 19, 19, 0.42);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#302e2e6b, rgb(49, 46, 46), #302e2e6b);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#302e2e6b, rgb(62, 58, 58), #302e2e6b);
}
.bright {
  cursor: pointer;
  border: #3e4041 1.5px solid;
  transition: 0.3s;
  &:hover {
    border: #df5296 1.5px solid;
  }
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  &:checked + .cart-check::before {
    // background-color: rgb(203, 147, 147);
    content: "\2713";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  &:focus-visible + .cart-check::before {
    box-shadow: 0 0 10px rgb(193, 190, 190);
  }
  &:focus:not(:focus-visible) {
    box-shadow: none;
  }
}

.cart-check {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 5px;
  &:before {
    content: "";
    width: 1em;
    height: 1em;
    border: solid #b8b8b8 1.5px;
    z-index: 2;
    border-radius: 3px;
    cursor: pointer;
  }
}

.bright-nb {
  cursor: pointer;
  border: #ab6969 1.5px solid;
  transition: 0.3s;
  &:hover {
    border: #e9cb71 1.5px solid;
  }
}

.bright-GY {
  cursor: pointer;
  border: #69a7ab 1.5px solid;
  transition: 0.3s;
  &:hover {
    border: #e9cb71 1.5px solid;
  }
}

.bright-orange {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #705151;
  &:hover {
    border: #a84a4a 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.bright-cancel {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #757575;
  &:hover {
    border: #a84a4a 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.bright-submit {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #69a7ab;
  &:hover {
    border: #55def0 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.bright-submit {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #69a7ab;
  &:hover {
    border: #55def0 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.masonry-with-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;

  .masonry-div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 0 0 auto;
  }
}

.item-bright {
  cursor: pointer;
  border: #6ba2d5 1.5px solid;
  transition: 0.2s;
  &:hover {
    border: #df5296 1.5px solid;
  }
}
.bright-blue {
  cursor: pointer;
  border: #5582ac 1.5px solid;
  transition: 0.2s;
  &:hover {
    border: #df5296 1.5px solid;
  }
}

.bright-submit2 {
  cursor: pointer;
  border: #697cab 1.5px solid;
  transition: 0.2s;
  &:hover {
    border: #df5296 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.amount-btn {
  &:hover {
    color: #8bf0d0;
  }
}

.bkg-maroon {
  background-color: #ab6969;
}

.fill-sliders {
  fill: #a19e9e;
}

.cuisine-btn {
  color: #df5296;
  &:hover {
    color: #8bf0d0;
  }
}

.button-un {
  all: unset;
}

.button-no {
  border: none;
  outline: none;
  background: none;
}

.atHomeText {
  color: #8bbff0;
}

.amount {
  color: #8bf0e9;
}

.bright-active {
  border: #df5296 1.5px solid;
}

.spanYN {
  color: #df5296;
}

.spanTitle {
  color: #5787ec;
}

.bright-fill {
  cursor: pointer;
  &:hover {
    fill: #52a9df;
  }
}

.fill-dis {
  fill: rgb(80, 80, 80);
}

.bright-fill-pink {
  cursor: pointer;
  &:hover {
    fill: #df5296;
  }
}
.add-new {
  transition: 0.3s;
  cursor: pointer;
}
.bright-inner-fill {
  &:hover > .add-new {
    fill: #df5296;
  }
  &:hover > button {
    border-color: #df5296;
  }
}

.bright-border-pink {
  cursor: pointer;
  &:hover {
    border: #df5296;
  }
}

// landing page images
.slide-down {
  height: 55vh;
  max-width: 40rem;
  overflow: hidden;
  margin-top: 2rem;
  // position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  .slide-card {
    animation: 9s linear infinite slideDown;
    transition: 0.4s;
  }
}

.slideText {
  overflow: hidden;
  height: 2.6rem;
  width: 100vw;
  margin-top: 1.5rem;

  h4 {
    font-size: 1.2rem;
    color: rgb(111, 180, 237);
    animation: slideText 9s infinite;
    width: 100%;
    padding: 5px 0;
  }
}

@keyframes slideText {
  0%,
  1% {
    opacity: 0;
  }
  2%,
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  31%,
  35% {
    opacity: 0;
  }
  36%,
  63% {
    transform: translateY(-2.6rem);
    opacity: 1;
  }
  64%,
  68% {
    opacity: 0;
  }
  69%,
  96% {
    transform: translateY(-5.2rem);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideDown {
  0%,
  30% {
    transform: translateY(0);
  }
  36%,
  63% {
    transform: translateY(-55vh);
  }
  69%,
  94% {
    transform: translateY(-110vh);
  }
}

.modal-active {
  border-left: #df5296 1.5px solid;
  border-right: #df5296 1.5px solid;
  background: rgb(34, 34, 34);
}
.status-green {
  background: rgb(94, 163, 81);
  &:after {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: 900;
    content: "✓";
    color: white;
  }
}
.status-blue {
  background: rgb(64, 122, 231);
  &:after {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: 900;
    content: "✓";
    color: white;
  }
}
.status-orange {
  background: rgb(213, 168, 6);
  &:after {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: 900;
    content: "✓";
    color: white;
  }
}
.status-grey {
  background-color: grey;
}
.legend {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 15px;
  // width: 4rem;
  // background-color: red;
}

@import "bootstrap/dist/css/bootstrap.min.css";
