@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
:root {
  --bs-body-bg: #1b1a1a;
  --bs-body-font-family: "Roboto Mono";
  --bs-body-color: #e4e4e4;
}

// $background: #6ba2d5;

.button-like {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: rgba(20, 19, 19, 0.42);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#302e2e6b, rgb(49, 46, 46), #302e2e6b);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#302e2e6b, rgb(62, 58, 58), #302e2e6b);
}
.bright {
  cursor: pointer;
  border: #3e4041 1.5px solid;
  transition: 0.3s;
  &:hover {
    border: #df5296 1.5px solid;
  }
}

.bright-nb {
  cursor: pointer;
  border: #ab6969 1.5px solid;
  transition: 0.3s;
  &:hover {
    border: #e9cb71 1.5px solid;
  }
}

.bright-orange {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #705151;
  &:hover {
    border: #a84a4a 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.bright-cancel {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #757575;
  &:hover {
    border: #a84a4a 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.bright-submit {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #69a7ab;
  &:hover {
    border: #55def0 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.bright-submit {
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #69a7ab;
  &:hover {
    border: #55def0 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.item-bright {
  cursor: pointer;
  border: #6ba2d5 1.5px solid;
  transition: 0.2s;
  &:hover {
    border: #df5296 1.5px solid;
  }
}
.bright-blue {
  cursor: pointer;
  border: #5582ac 1.5px solid;
  transition: 0.2s;
  &:hover {
    border: #df5296 1.5px solid;
  }
}

.bright-submit2 {
  cursor: pointer;
  border: #697cab 1.5px solid;
  transition: 0.2s;
  &:hover {
    border: #df5296 1.5px solid;
  }
  &:active {
    opacity: 0.7;
  }
}

.amount-btn {
  &:hover {
    color: #8bf0d0;
  }
}

.cuisine-btn {
  color: #df5296;
  &:hover {
    color: #8bf0d0;
  }
}

.button-un {
  all: unset;
}

.atHomeText {
  color: #8bbff0;
}

.amount {
  color: #8bf0e9;
}

.bright-active {
  border: #df5296 1.5px solid;
}

.spanYN {
  color: #df5296;
}

.bright-fill {
  cursor: pointer;
  &:hover {
    fill: #52a9df;
  }
}

.bright-fill-pink {
  cursor: pointer;
  &:hover {
    fill: #df5296;
  }
}

.bright-border-pink {
  cursor: pointer;
  &:hover {
    border: #df5296;
  }
}

.modal-active {
  border-left: #df5296 1.5px solid;
  border-right: #df5296 1.5px solid;
  background: rgb(34, 34, 34);
}
.status-green {
  background: rgb(94, 163, 81);
  &:after {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: 900;
    content: "✓";
    color: white;
  }
}
.status-blue {
  background: rgb(64, 122, 231);
  &:after {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: 900;
    content: "✓";
    color: white;
  }
}
.status-orange {
  background: rgb(213, 168, 6);
  &:after {
    position: absolute;
    transform: translate(2px, -5px);
    font-weight: 900;
    content: "✓";
    color: white;
  }
}
.status-grey {
  background-color: grey;
}
.legend {
  font-size: 12px;
  margin-left: 2px;
  margin-right: 15px;
  // width: 4rem;
  // background-color: red;
}

@import "bootstrap/dist/css/bootstrap.min.css";
